/*************************************************************
*************************** 定义区 ****************************
*************************************************************/
:root {
  --main-black: 0,0,0;
  --main-white: 255,255,255;
  --main-light-green: 214,241,226;
  --main-green: 60,179,113;
  --main-dark-green: 22,65,40;
  --main-blue: 30,144,255;
  --main-orange: 255,141,30;
  --main-purple: 132,112,255;
  --main-brown: 165,104,42;
  --main-cyan: 100,134,134;

  --background-light-green: 245,250,245;
  --font-black: 56,61,63;
  --background-dark-green:6,17,11;
  --background-black:40,40,40;
  
  --background-light-landscape-url: url("/assets/images/bg-light-landscape.png");
  --background-light-portrait-url: url("/assets/images/bg-light-portrait.png");
  --background-dark-landscape-url: url("/assets/images/bg-dark-landscape.png");
  --background-dark-portrait-url: url("/assets/images/bg-dark-portrait.png");
}
/*************************************************************
**************************************************************
*************************************************************/
/***************** 背景图片 *****************/
/** 横屏 **/
@media (orientation: landscape) {
  html {
    background-image: var(--background-light-landscape-url);
  }
}
/** 竖屏 **/
@media (orientation: portrait) {
  html {
    background-image: var(--background-light-portrait-url);
  }
}
/**********************************/
* {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}
body {
  margin: 0;
}
/***************** 加载动画 *****************/
div.loading {
  position: fixed;
  z-index: 114514; /* 这么臭的z-index还有必要留着吗(恼 [doge] */
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--main-white));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
div.loading-round-border {
  width: 100px;
  height: 100px;
  background-color: rgb(var(--main-white));
  border: 5px solid rgb(var(--main-green));
  border-top: 5px solid rgb(var(--main-light-green));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
p.loading-text,
p.loading-speed-up {
  color: rgb(var(--font-black));
  font-size: 20px;
}
p.loading-speed-up {
  visibility: hidden;
  margin: 0;
}
a.loading-speed-up-link {
  color: rgb(var(--main-green));
  font-size: 20px;
}
/***************** 导航栏-顶栏 *****************/
div.aside-topbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: rgba(var(--main-dark-green),0.2);
  border-bottom: 1px solid rgb(var(--main-green));
  overflow: visible;
}
button.aside-unfold-sidebar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  background-color: transparent;
  border-style: none;
  text-align: center;
}
button.aside-unfold-sidebar > .bi-list {
  color: rgb(var(--main-white));
  font-size: 32px;
  line-height: 40px;
}
img.aside-logo {
  margin: 14px 4px;
}
@media (max-width: 600px) {
  img.aside-logo {
    display: none;
  }
}
button.aside-theme-control {
  float: right;
  width: 32px;
  height: 32px;
  margin: 8px 10px 8px 8px;
  background-color: transparent;
  border-style: none;
  text-align: center;
}
button.aside-theme-control > .mdi-brightness-6 {
  color: rgb(var(--main-white));
  font-size: 22px;
  line-height: 32px;
}
div.aside-theme-select {
  display: none;
  float: right;
  position: relative;
  top: 48px;
  right: -50px;
  z-index: 100;
  margin: 10px;
  padding: 8px;
  background-color: rgba(var(--main-green),0.8);
  border: 0 hidden transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(var(--main-black),0.3);
}
div.aside-theme-select::after {
  content: " ";
  position: absolute;
  right: 8px;
  bottom: calc(100% + 1px);
  border: 6px solid transparent;
  border-bottom-color: rgba(var(--main-green),0.8);
}
ul.aside-theme-select-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  line-height: 34px;
}
li.aside-theme-select-list-item {
  background-color: transparent;
  box-shadow: none;
  color: rgb(var(--main-white));
}
li.aside-theme-select-list-item-active {
  background-color: rgb(var(--main-white));
  box-shadow: 9px 0 rgb(var(--main-white)),
              -9px 0 rgb(var(--main-white));
  color: rgb(var(--main-green));
}
i.theme-auto,
i.theme-light,
i.theme-dark {
  font-size: 16px;
}
span.aside-theme-select-text {
  font-size: 14px;
}
li.theme-auto {
  background-color: rgb(var(--main-white));
  box-shadow: 9px 0 rgb(var(--main-white)),
              -9px 0 rgb(var(--main-white));
}
i.theme-auto,
span.theme-auto {
  color: rgb(var(--main-green));
}
div.aside-theme-control-tip {
  display: none;
  float: right;
  position: relative;
  top: 48px;
  right: -52px;
  z-index: 99;
  width: 186px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(var(--main-white));
  border: 0 hidden transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(var(--main-black),0.3);
}
div.aside-theme-control-tip::after {
  content: " ";
  position: absolute;
  right: 8px;
  bottom: calc(100% + 1px);
  border: 6px solid transparent;
  border-bottom-color: white;
}
span.aside-theme-control-tip-text {
  font-size: 14px;
}
/***************** 导航栏-侧边栏 *****************/
div.aside-sidebar {
  display: none;
  float: left;
  position: fixed;
  z-index: 998;
  top: 0;
  left: -302px;
  width: 300px;
  height: 100%;
  background-color: rgba(var(--main-dark-green),0.2);
  border-right: 1px solid rgb(var(--main-green));
}
/**** 侧边栏头部 ****/
div.aside-sidebar-header {
  position: relative;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border-right: 1px solid rgb(var(--main-green));
  border-bottom: 1px solid rgb(var(--main-green));
}
/**** 遮罩层 ****/
div.aside-mask {
  display: none;
  float: left;
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--main-dark-green),0.1);
}
/**** 侧边栏主要内容 ****/
div.aside-sidebar-body {
  position: relative;
  z-index: 999;
  width: calc(100% - 50px);
  padding: 20px 20px 20px 30px;
  background-color: transparent;
  border-right: 1px solid rgb(var(--main-green));
  overflow: auto;
}
ul.aside-sidebar-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 34px;
}
ul.aside-sidebar-sublist {
  list-style-type: none;
  display: none;
}
li.aside-sidebar-current-page-item {
  background-color: rgb(var(--main-green);
  box-shadow: 21px 0 rgb(var(--main-green)),
              -30px 0 rgb(var(--main-green));
}
a.aside-sidebar-item-link {
  color: rgb(var(--main-white));
  text-decoration: none;
}
i.aside-sidebar-item-icon {
  color: rgb(var(--main-white));
  font-size: 16px;
}
span.aside-text {
  color: rgb(var(--main-white));
  font-size: 14px;
  text-decoration: none;
}
li.aside-sidebar-item > .mdi-chevron-right {
  float: right;
  margin: 0 32px;
  color: rgb(var(--main-white));
  font-size: 10px;
}
/**** 侧边栏底部信息 ****/
div.aside-sidebar-footer {
  position: relative;
  z-index: 999;
  bottom: 0;
  width: calc(100% - 50px);
  padding: 20px 20px 20px 30px;
  background-color: transparent;
  border-top: 1px solid rgb(var(--main-green));
  border-right: 1px solid rgb(var(--main-green));
}
p.aside-sidebar-footer-text {
  line-height: 26px;
  color: rgb(var(--main-white));
  font-size: 14px;
}
a.aside-sidebar-footer-link {
  line-height: 26px;
  color: rgb(var(--main-green));
  font-size: 14px;
}
/* 网格布局，但暂时没什么用，等有用了再放出来吧（
div.grid-container {
  display: grid;
  grid-gap: 0;
}
*/
/***************** 页面主要内容 *****************/
div.main {
  column-rule-width: 0;
  margin: calc(48px + 0.75em) 0.75em 0.75em 0.75em;
  padding: 0.8em;
  background-color: rgba(var(--background-light-green),0.75);
  border: 0 hidden transparent;
  border-radius: 8px;
}
@media (orientation: landscape) {
  @media (min-width: 1281px) {
    main.type-card > div.main {
      column-count: 3;
    }
  }
  @media (min-width: 601px) and (max-width: 1280px) {
    main.type-card > div.main {
      column-count: 2;
    }
  }
}
div.main-title {
  column-span: all;
  margin-bottom: 0.8em;
  padding: 8px;
  text-align: center;
  background-color: rgb(var(--main-light-green));
  border: 1px solid rgb(var(--main-green));
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(var(--main-black),0.3);
}
p.main-title-text {
  color: rgb(var(--main-black));
  font-size: 26px;
}
/***************** 卡片 *****************/
div.main-card {
  margin-bottom: 0.8em;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(var(--main-black),0.3);
  break-inside: avoid;
}
div.main-card:last-child {
  margin-bottom: 0;
}
/**** 卡片颜色 ****/
div.color-green {background-color: rgb(var(--main-green));}
div.color-blue {background-color: rgb(var(--main-blue));}
div.color-orange {background-color: rgb(var(--main-orange));}
div.color-purple {background-color: rgb(var(--main-purple));}
div.color-brown {background-color: rgb(var(--main-brown));}
div.color-cyan {background-color: rgb(var(--main-cyan));}
/*****************/
div.main-card-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
  border: 0 hidden transparent;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
p.main-card-title-text {
  margin: 0;
  color: rgb(var(--main-white));
  font-size: 14px;
}
div.main-card-body {
  position: relative;
  bottom: 0 !important;
  left: 0;
  right: 0;
  padding: 12px;
  border: 0 hidden transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: rgb(var(--main-white));
}
p.main-card-text,
span.main-card-inline-text {
  margin: 6px 0;
  line-height: 1.3em;
  color: rgb(var(--font-black));
  font-size: 16px;
}
a.main-card-link {
  color: rgb(var(--main-green));
  font-size: 16px;
}
h1.main-header1,
h2.main-header2,
h3.main-header3,
h4.main-header4,
h5.main-header5,
h6.main-header6 {
  color: rgb(var(--font-black));
}
hr.main-line {
  margin: 0.75em 0;
  border-style: solid;
}
hr.main-line-dashed {
  margin: 0.75em 0;
  border-style: dashed;
}
div.clear {
  display: block;
  clear: both;
}
