/*************************************************************
*************************** 定义区 ****************************
*************************************************************/
:root {
  --main-white: 255,255,255;
  --main-light-green: 214,241,226;
  --main-green: 60,179,113;
  --main-dark-green: 22,65,40;
}
/*************************************************************
**************************************************************
*************************************************************/
body {
  margin: 0;
}
/***************** 背景图片 *****************/
@media (orientation: portrait) {
  body {
    background-image: url("https://i.328888.xyz/2023/02/18/BvDBt.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
  }
}
@media (orientation: landscape) {
  body {
    background-image: url("https://i.328888.xyz/2022/12/10/fqpwZ.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
  }
}
/***************** 加载动画 *****************/
div.loading {
  position: fixed;
  z-index: 114514; /*这么臭的z-index还有必要留着吗(恼 [doge]*/
  width: 100%;
  height: 100%;
  background-color: rgb(var(--main-white));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
div.loading-round-border {
  width: 100px;
  height: 100px;
  background-color: rgb(var(--main-white));;
  border: 5px solid rgb(var(--main-green));
  border-top: 5px solid rgb(var(--main-light-green));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/***************** 导航栏-顶栏 *****************/
div.aside-topbar {
  position: fixed;
  width: 100%;
  height: 48px;
  background-color: rgba(var(--main-dark-green),0.2);
  border-bottom: 1px solid rgb(var(--main-green));
}
button.aside-unfold-sidebar {
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 4px;
  background-color: transparent;
  border-style: none;
  text-align: center;
}
.bi-list {
  color: rgb(var(--main-white));
  font-size: 32px;
  line-height: 40px;
}
img.aside-logo {
  margin: 14px 4px;
}
/***************** 导航栏-侧边栏 *****************/
div.aside-sidebar {
  display: none;
  float: left;
  position: fixed;
  z-index: 9;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: rgba(var(--main-dark-green),0.2);
  border-right: 1px solid rgb(var(--main-green));
}
div.aside-sidebar-header {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border-right: 1px solid rgb(var(--main-green));
  border-bottom: 1px solid rgb(var(--main-green));
}
div.aside-mask {
  display: none;
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--main-dark-green),0.1);
  position: fixed;
}
ul.aside-nav {
  line-height: 36px;
}
ul.aside-nav,
ul.aside-subnav {
  list-style-type: none;
}
ul.aside-subnav {
  display: none;
}
a.aside-sidebar-item-link {
  color: rgb(var(--main-white));
  text-decoration: none;
}
.mdi-home,
.bi-person-fill,
.bi-wikipedia {
  color: rgb(var(--main-white));
  font-size: 18px;
}
span.aside-text {
  color: rgb(var(--main-white));
  font-size: 18px;
  text-decoration: none;
}
.mdi-chevron-right {
  display: inline-block;
  float: right;
  color: rgb(var(--main-white));
  font-size: 10px;
  margin: 0 32px;
}
/***************** 页面主要内容 *****************/
div.main {
  margin: 32px;
  padding: 24px;
  background-color: rgba(var(--main-white),0.8);
  border-radius: 20px;
  border: 4px solid rgba(var(--main-white),0);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
p {
  font-size: 20px;
}
a {
  color: rgb(var(--main-green));
}
span {
  font-size: 20px;
}
#time {
  color: rgb(var(--main-green));
  font-size: 28px;
}