/* ================ background ================ */
@media (orientation: portrait) {
  body {
    background-image: url("https://i.328888.xyz/2023/02/18/BvDBt.png");
    background-size: cover;
    background-position: top; }
    }
@media (orientation: landscape) {
  body {
    background-image: url("https://i.328888.xyz/2022/12/10/fqpwZ.jpeg");
    background-size: cover;
    background-position: top; }
    }
/* ================ main ================ */
h1 {
  font-size: 36px; }
h2 {
  font-size: 24px; }
p {
  font-size: 20px; }
a {
  text-decoration: none;
  color: blue; }
span {
  font-size: 18px;
  text-decoration: none;
  color: black; }
/* ================ special ================ */
.bi bi-house-fill {
  background-size: 20px;
  background-color: black; }
.bi bi-person-fill {
  background-size: 20px;
  background-color: black; }
.bi bi-wikipedia {
  background-size: 20px;
  background-color: black; }
div.main {
  margin: 20px 8px 30px 130px;
  padding: 40px;
  background-color: white;
  border-radius: 25px;
  border: solid;
  border-width: 4px;
  border-color: white; }
#time {
  font-size: 28px;
  color: #00FA9A; }