:root  {
  --font-black: 255,255,255;
}
@media (orientation: landscape) {
  html  {
    background-image: var(--background-dark-landscape-url);
  }
}
@media (orientation: portrait) {
  html {
    background-image: var(--background-dark-portrait-url);
  }
}
div.loading {
  background-color: rgb(var(--background-black));
}
div.loading-round-border {
  background-color: rgb(var(--background-black));
  border-top: 5px solid rgb(var(--main-dark-green));
}
a.loading-speed-up-link {
  color: rgb(var(--main-light-green));
}
div.main {
  background-color: rgba(var(--background-dark-green),0.9);
}
div.main-title {
  background-color: rgb(var(--main-green));
  border: 1px solid rgb(var(--main-dark-green));
}
p.main-title-text {
  color: rgb(var(--main-white));
}
div.main-card-body {
  background-color: rgb(var(--background-black));
}
a.main-card-link {
  color: rgb(var(--main-light-green));
}
hr.main-line-dashed {
  border-color: rgb(var(--main-white));
}