:root  {
  --font-black: 255,255,255;
}
@media (orientation: landscape) {
  html  {
    background-image: var(--background-dark-landscape-url);
  }
}
@media (orientation: portrait) {
  html {
    background-image: var(--background-dark-portrait-url);
  }
}
div.loading {
  background-color: rgb(var(--background-black));
}
div.loading-round-border {
  background-color: rgb(var(--background-black));
  border-top-color: rgb(var(--main-dark-green));
}
a.loading-speed-up-link {
  color: rgb(var(--main-light-green));
}
main.type-card > div.main {
  background-color: rgba(var(--background-dark-green), 0.6);
}
main.type-article > div.main {
  background-color: rgba(var(--background-dark-green), 0.85);
}
div.main-title {
  background-color: rgb(var(--main-green));
  border-color: rgb(var(--main-dark-green));
}
p.main-title-text {
  color: rgb(var(--main-white));
}
div.main-card-body {
  background-color: rgb(var(--background-black));
}
a.main-card-link {
  color: rgb(var(--main-light-green));
}
h1.main-header1,
h2.main-header2,
h3.main-header3,
h4.main-header4,
h5.main-header5,
h6.main-header6 {
  color: rgb(var(--main-white));
}
hr.main-line,
hr.main-line-dashed {
  border-color: rgb(var(--main-white));
}
img.math-image {
  filter: invert(84.5%);
}