p.math-problem-text {
  font-size: 20px;
}
p.math-text {
  margin: 8px 0px;
  color: rgb(var(--font-black));
}
/* 1 */
div.math-problem1 {
  display: inline-block;
  width: 120px;
}
input.math-problem1 {
  width: calc(100% - 200px);
}
button.math-problem1 {
  float: right;
  width: 60px;
}